<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>
<div style="font-family: 'Century Gothic'; font-size: 14px;">
<p>Dear {{second}} </p>
<p></p>
<p style="color:red;"><b>UNRESOLVED EXCEPTION - FIRST ESCALATION</b></p>
<p></p>
<p><b>Responsible Party:&nbsp;</b>{{responsible}}</p>
<p><b>Due Date:&nbsp;</b>{{due_date}}</p>
<p><b><b>Description</b>:</b>&nbsp;{{description}}</p>
<p>Escalation Email, Adeleke please provide the message that will be in the body of the escalations going out!</p>
</div>
</body>
</html>