{% load static %}

<div class="content-page">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
               <div class="card">
                   <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                           <h4 class="card-title">Add Item</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form action="" data-toggle="validator" method="POST">
                           {% csrf_token %}
                           <div class="row">
                               <div class="col-md-6">
                                    <div class="form-group">
                                       <label>Category *</label>    
                                       <select name="category" class="selectpicker form-control" data-style="py-0" required>
                                        <option selected=""  value="">Select Category</option>
                                        {% for cat in cats %}
                                           <option value='{{ cat.name}}'>{{ cat.name}}</option>
                                           {% endfor %}
                                       </select>
                                   </div>
                               </div>  
                               <div class="col-md-6">                      
                                   <div class="form-group">
                                       <label>Item Name *</label>
                                       <input name='name' type="text" class="form-control" placeholder="Enter Name" data-errors="Please Enter Name." required>
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>    
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label>Unit Price *</label>
                                       <input name='unit_price'  type="text" class="form-control" placeholder="Enter Cost" data-errors="Enter Unit Price." required>
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>
                               <div class="col-md-6">                                    
                                   <div class="form-group">
                                       <label>Quantity *</label>
                                       <input name='quantity'  type="text" class="form-control" placeholder="Enter Quantity" required>
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>

                           </div>                            
                           <button type="submit" class="btn btn-primary mr-2">Add Item</button>
                           <button type="reset" class="btn btn-danger">Reset</button>
                       </form>
                   </div>
               </div>
           </div>
       </div>
       <!-- Page end  -->
   </div>
     </div>